<nav>
    <ul class="navbar">
        <li><a class="button" href="">Menu</a></li>
        <li><a class="button" href="">Sobre nosotros</a></li>
        <li><a class="button" href="">Donde encontrarnos</a></li>
    </ul>
</nav>
